/* nav bar styles */
nav {
 background: #3EBEFF;
 width: 100%;
 padding: 40px 20px;
 display: flex;
 justify-content: space-between;
 position: relative;
}
/* prevent nav links to be opened */
.nav-links{
 position: absolute;
 left: -100px;
}
.toggle-btn{

}